<div class="container-fluid pt-3 pb-2 mb-3">
    <div class="row row-cols-md-3 g-3">
        {% for equipment in foundEquipment %}
            {% if equipment.isVisible %}
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            {{serviceClass}}<br />
                            {{ ThemedImage(equipment.icon) }} {{equipment.friendlyName}} {% if equipment.isConnected %}connected{% else %}disconnected{% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Manufacture: {{equipment.manufacture}}<br />
                                Model: {{equipment.model}}<br />
                                System: {{equipment.system}}
                                {% include 'Rabbaz/Core/App/Controller/View/Partials/Services.twig' with {'services': equipment.services} %}
                                {% include 'Rabbaz/Core/App/Controller/View/Partials/Devices.twig' with {'devices': equipment.devices} %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
