<div class="container-fluid pt-3 pb-2 mb-3">
    <div class="row row-cols-md-3 g-3">
        {% for serviceClass, services in foundEquipment %}
            {% for equipment in services.equipment %}
                {% if equipment.isVisible %}
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                {{serviceClass}}<br />
                                {{ ThemedImage(equipment.icon) }} {{equipment.friendlyName}} {% if equipment.isConnected %}connected{% else %}disconnected{% endif %}
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Manufacture: {{equipment.manufacture}}<br />
                                    Model: {{equipment.model}}<br />
                                    System: {{equipment.system}}
                                    {% for service in equipment.services %}
                                        {% if service.isVisible %}
                                            <div class="card">
                                                <div class="card-header">{{ ThemedImage(service.icon) }} {{service.name}}</div>
                                                <div class="card-body">
                                                    Version: {{service.version}}<br />
                                                    Entrypoint: {{service.entrypoint}}<br />
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for device in equipment.devices %}
                                        {% if device.isVisible %}
                                            <div class="card">
                                                <div class="card-header">{{ ThemedImage(device.icon) }} {{device.friendlyName}} {% if device.isConnected %}connected{% else %}disconnected{% endif %}</div>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Manufacture: {{device.manufacture}}<br />
                                                        Model: {{device.model}}<br />
                                                        System: {{device.system}}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
