<link rel="stylesheet" href="Assets/Css/administration.css">

<div class="row">

    <div class="col-12">
        <header class="row">
            <div class="col-1">
            </div>
            <div class="col-1">
                {% if mpdState.state == 'play' %}
                    <img src="Assets/Images/actions/media-playback-stop.svg" style="width: 128px">
                {% else %}
                    <img src="Assets/Images/actions/media-playback-start.svg" style="width: 128px">
                {% endif %}
            </div>
            <div class="col-1">
                {% if currentCover %}
                    <img src="{{ currentCover }}" style="width: 128px" />
                {% endif %}
            </div>
            <div class="col-4">
                {% if mpdState.duration %}
                    {# We have a duration => CD #}
                    {{ mpdCurrentSong.Title }}<br />
                    {% if mpdCurrentSong.Name %}
                        {{ mpdCurrentSong.Name }}<br />
                    {% endif %}
                    {% if mpdCurrentSong.Artist %}
                        {{ mpdCurrentSong.Artist }}
                        {% if mpdCurrentSong.Album %}
                            - {{ mpdCurrentSong.Album }}
                        {% endif %}
                        <br />
                    {% endif %}
                {% else %}
                    {# We have no duration => stream #}
                    {{ mpdCurrentSong.Name }}<br />
                    {{ mpdCurrentSong.Title }}
                {% endif %}
            </div>
            <div class="col-5">
                Time: {{ mpdState.elapsed|round|date('i:s') }}
                {% if mpdState.duration %}
                    / {{ mpdState.duration|round|date('i:s') }}
                {% endif %}<br />
                Volume: {{ mpdState.volume }}
            </div>
        </header>
    </div>

    <div class="col-1">
        <nav>
            <a href="display?id=1"><img src="Assets/Images/devices/audio-radio.svg" style="width: 100%" /></a>
            <a href="display?id=2"><img src="Assets/Images/devices/media-optical.svg" style="width: 100%" /></a>
            <a href="display?id=3"><img src="Assets/Images/places/folder-sound.svg" style="width: 100%" /></a>
        </nav>
    </div>
    <div class="col-11">

        <div class="row">
            <main class="col-12">
                {% if collection %}
                    <div class="container-flex">
                        <div class="row">
                    {% for album in collection %}
                            <div class="col-sm-2">
                                <div class="card" style="">
                                    <img src="{{ album.cover }}" class="card-img-top" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ album.artist|e }}</h5>
                                        <p class="card-text">{{ album.title|e }}</p>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </main>
        </div>
    </div>
</div>

<footer>
</footer>
